/************************
Buttons
************************/
@mixin button-bg($bg) {
  background: transparent;
  border: 1px solid $color-white;

  &:hover {
    background:rgba($bg, .3);
    transition: all 0.3s ease;
  }
  &:active {
    background:rgba($bg, .3);
  }
}

@mixin hover-link($color) {
  color: $color;
  transition: color 0.3s linear;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $color-white;
    transition: color 0.3s linear;
  }
}

@mixin radius($rad) {
  border-radius: $rad;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
}

@mixin level-2($color) {
  box-shadow: 0 0 20px 3px rgba($color, 0.3)
}

@mixin level-3($color) {
  box-shadow: 0 0 50px 0 rgba( darken($color, 10%), 0.5);
}

/************************
Breakpoints
************************/
@mixin xs-down {
  @media only screen and (max-width: $xs - 1) {
    @content;
  }
}

@mixin xs-up {
  @media only screen and (max-width: $xs) {
    @content;
  }
}
@mixin sm-down {
  @media only screen and (max-width: $sm - 1) {
    @content;
  }
}

@mixin sm-up {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin md-down {
  @media only screen and (max-width: $md - 1) {
    @content;
  }
}

@mixin md-up {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin lg-down {
  @media only screen and (max-width: $lg - 1) {
    @content;
  }
}

@mixin lg-up {
  @media only screen and (min-width: $lg) {
    @content;
  }
}

@mixin xlg-down {
  @media only screen and (max-width: $xlg - 1) {
    @content;
  }
}

@mixin xlg-up {
  @media only screen and (min-width: $xlg) {
    @content;
  }
}

/************************
Vertical Breakpoints
************************/
@mixin v-sm-down {
  @media only screen and (max-height: $v-sm - 1) {
    @content;
  }
}
@mixin v-sm-up {
  @media only screen and (min-height: $v-sm) {
    @content;
  }
}
@mixin v-md-down {
  @media only screen and (max-height: $v-md - 1) {
    @content;
  }
}

@mixin v-md-up {
  @media only screen and (min-height: $v-md) {
    @content;
  }
}
@mixin v-lg-down {
  @media only screen and (max-height: $v-lg - 1) {
    @content;
  }
}

@mixin v-lg-up {
  @media only screen and (min-height: $v-lg) {
    @content;
  }
}

@mixin v-xlg-down {
  @media only screen and (max-height: $v-xlg - 1) {
    @content;
  }
}

@mixin v-xlg-up {
  @media only screen and (min-height: $v-xlg) {
    @content;
  }
}


/*************************
Font size px to rem
*************************/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin maintain-aspect-ratio($width, $height) {
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}


/*************************
Buttons
*************************/
@mixin button-primary($color) {
  background-color: $color;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  font-family: Comic Sans MS, Textile, Cursive;
  font-weight: bold;
  text-align: center;
  color: $color-white;
  @include font-size(15px);

  &:disabled {
    background: $color-disabled;
  }

  &.is-active,
  &:hover {
    background-color: darken($color, 10%);
    box-shadow: 0 0 20px 3px rgba($color, 0.3);
  }
  &:active {
    background: lighten($color, 5%);
  }
}
