html,
body,
#app,
#root,
.page,
.main {
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  font-family: Georgia, Times New Roman, Times, Serif;
  color: $color-header-title;
}

.main {
  background: $color-primary;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none !important
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.full-width{
  width: 100%;
}

.half-width{
  width: 50%;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5;
}

/* margin && padding custom classes */
$margin-map:
        xs 0.1,
        sm 0.6,
        md 1,
        lg 1.5;
@each $margin-size in $margin-map {
  $name: nth($margin-size, 1);
  $multiplier: nth($margin-size, 2);
  .margin-#{$name} {
    margin: $space * $multiplier;
  }
  .margin-top-#{$name} {
    margin-top: $space * $multiplier;
  }
  .margin-bottom-#{$name} {
    margin-bottom: $space * $multiplier;
  }
  .margin-left-#{$name} {
    margin-left: $space * $multiplier;
  }
  .margin-right-#{$name} {
    margin-right: $space * $multiplier;
  }
}
/* marging && padding custom classes */

